<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App Classifier</title>
    
        <!-- Include Bootstrap CSS from CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    
        <!-- Optional: Include Bootstrap JavaScript and Popper.js from CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    </head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Good/Bad App Classifier</h1>
                
                <!-- Image Upload Form -->
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="imageInput">Choose an image:</label>
                        <input type="file" class="form-control-file" id="imageInput" name="image" accept="image/*" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>

                <!-- Display Uploaded Image -->
                {% if uploaded_image %}
                <div class="mt-4">
                    <h5>Uploaded Image:</h5>
                    <img src="{{ uploaded_image }}" class="img-fluid" alt="Uploaded Image">
                    <p>This is a {{ prediction }} app</p>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</body>
</html>